<div id="blog-right-area" class="column-12-tablet-vert-4{% if article.title.size > 0 %} article-right-area{% endif %}">
  <div class="row">
    <div class="column-12 right-section">
      {% if article.title.size > 0 %}
        <div class="accordion">
          <h5
            class="blog-col-header question"
            v-bind:class="{ 'active' : toggles['newsletter'] }"
            v-on:click.prevent="toggleAccordion('newsletter')"
          >Like What Your Reading?</h5>
          <div class="answer klaviyo-wrapper" v-show="toggles['newsletter']">
            {% if settings.klaviyo_desktop_form_id.size > 0 or settings.klaviyo_mobile_form_id.size > 0 %}
              <p class="small">{{ settings.klaviyo_signup_text }}</p>
              <div class="klaviyo-form-{{ settings.klaviyo_desktop_form_id }} klaviyo-desktop"></div>
              <div class="klaviyo-form-{{ settings.klaviyo_mobile_form_id }} klaviyo-mobile"></div>
            {% else %}
              Sign up for our newsletter <a href="#">here</a>
            {% endif %}
          </div>
        </div>
      {% else %}
        <div class="accordion">
          <h5
            class="blog-col-header question"
            v-bind:class="{ 'active' : toggles['search'] }"
            v-on:click.prevent="toggleAccordion('search')"
          >Search The Blog</h5>
          <div class="answer" v-show="toggles['search']">
            <form
              class="search-input-form"
              action="/search"
              method="get"
              role="search"
            >
              <button
                type="submit"
                class="secondary"
                aria-label="Search"
              >
                <div class="icon search-icon" />
              </button>
              <input
                class="search-input"
                type="search"
                name="q"
                placeholder="Search for articles..."
                autocomplete="off"
                required
              >
              <input type="hidden" name="tab" value="articles" />
            </form>
          </div>
        </div>
      {% endif %}
    </div>

    {% if settings.blog_featured_tag != '' and settings.blog_featured_posts_limit != '' %}
    {% capture featuredArticles %}
      {% assign count = 0 %}
        {% for article in blog.articles %}
          {% if article.tags contains settings.blog_featured_tag and count < settings.blog_featured_posts_limit %}
            {% assign count = count | plus: 1 %}
            <div class="featured-post">
              <a href="{{ article.url }}">
                {%- assign base_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img
                  class="post-hero lazyload blur-up"
                  src="{{ settings.placeholder_image | img_url }}"
                  alt="{{ article.title | escape }}"
                  data-src="{{ base_url }}"
                  data-widths="[360, 540, 720, 900, 1080, 1600]"
                  data-aspectratio="{{ collection.image.aspect_ratio }}"
                  data-sizes="auto"
                />
                <noscript>
                  <img class="lazyloaded" src="{{ article.image| img_url: '800x' }}" alt="{{ article.title | escape }}">
                </noscript>
              </a>
              <div class="post-text">
                <h5 class="author">
                  <span>{{ article.author }}</span>
                </h5>
                <a href="{{ article.url }}">
                  <h5 class="post-title no-margin">{{ article.title }}</h5>
                </a>
                <h5 class="author">
                  <span>{{ article.published_at | date: '%a %b %d, %Y' }}</span>
                </h5>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endcapture %}
    {% endif %}

    {% if featuredArticles != '' and featuredArticles.size > 0 %}
      <div class="column-12 right-section">
        <div class="accordion">
          <h5
            class="blog-col-header question"
            v-bind:class="{ 'active' : toggles['posts'] }"
            v-on:click.prevent="toggleAccordion('posts')"
          >Popular Posts</h5>
          <div class="answer" v-show="toggles['posts']">
            {{ featuredArticles }}
          </div>
        </div>
      </div>
    {% endif %}

    <div class="column-12 right-section">
      <div class="accordion">
        <h5
          class="blog-col-header question"
          v-bind:class="{ 'active' : toggles['categories'] }"
          v-on:click.prevent="toggleAccordion('categories')"
        >Blog Categories</h5>
        <div class="answer" v-show="toggles['categories']">
          {% assign blogCategories = settings.blog_categories | split: ', ' %}
          {% for category in blogCategories %}
            <a
              class="blog-link{% if current_tags contains tag %} active-link{% endif %}"
              href="{{ blog.url }}/tagged/{{ category | handleize }}"
            >{{ category }}</a>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="column-12 right-section last-right-section">
      <div class="accordion">
        <h5
          class="blog-col-header question"
          v-bind:class="{ 'active' : toggles['tags'] }"
          v-on:click.prevent="toggleAccordion('tags')"
        >Popular Tags</h5>
        <div class="answer" v-show="toggles['tags']">
          <div class="blog-tags">
            {% assign blogTags = settings.blog_tags | split: ', ' %}
            {% for tag in blogTags %}
              <a
                class="blog-tag{% if current_tags contains tag %} active-tag{% endif %}"
                href="{{ blog.url }}/tagged/{{ tag | handleize }}"
              >{{ tag }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="column-12">
      <div class="featured-sale{% if settings.blog_featured_block_invert %} invert{% endif %}">
        {% if settings.blog_featured_block_image.size > 0 %}
          {%- assign base_url = settings.blog_featured_block_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <img
            class="lazyload blur-up"
            src="{{ settings.blog_featured_block_image | img_url: '200x' }}"
            alt="{{ settings.blog_featured_block_header }}"
            data-src="{{ base_url }}"
            data-widths="[360, 540, 720, 900, 1080, 1600]"
            data-sizes="auto"
            style="position: absolute; width: 100%; height: 100%; object-fit: cover;"
            loading="lazy"
          />
        {% endif %}
        {% if settings.blog_featured_block_header %}<h1>{{ settings.blog_featured_block_header }}</h1>{% endif %}
        {% if settings.blog_featured_block_description %}<p>{{ settings.blog_featured_block_description }}</p>{% endif %}
        {% if settings.blog_featured_block_link %}
          <a href="{{ settings.blog_featured_block_link }}" class="button">{{ settings.blog_featured_block_link_text }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
