<!-- NOTE: JUST AN EXAMPLE -- NOT CURRENTLY IN USE -- FROM WSBB -->

{% if product.metafields.certDescription.description %}
<div class="certificate-overview">
  {% if product.metafields.certOverview.image %}
    <img
      class="lazyload blur-up"
      src="{{ 'placeholder-image.png' | asset_img_url: '200x' }}"
      alt="overview"
      data-src="{{ product.metafields.certOverview.image }}"
      data-widths="[360, 540, 720, 900, 1080, 1600]"
      data-sizes="auto"
      style="position: absolute; width: 100%; height: 100%; object-fit: cover;"
    />
    <noscript>
      <img class="lazyloaded" src="{{ product.metafields.certOverview.image }}" alt="{{ product.title | escape }}">
    </noscript>
  {% else %}
    {%- assign base_url = 'base-header-image.jpg' | asset_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
    <img
      class="lazyload blur-up"
      src="{{ 'base-header-image.jpg' | asset_img_url: '200x' }}"
      alt="overview"
      data-src="{{ base_url }}"
      data-widths="[360, 540, 720, 900, 1080, 1600]"
      data-sizes="auto"
      style="position: absolute; width: 100%; height: 100%; object-fit: cover;"
    />
    <noscript>
      <img class="lazyloaded" src="{{ 'base-header-image.jpg' | asset_img_url: '800x' }}" alt="{{ product.title | escape }}">
    </noscript>
  {% endif %}

  <div class="certificate-overview-inner max-width custom-constrain-items">
    <h1 class="certificate-overview-header">{% if product.metafields.certOverview.title %}{{ product.metafields.certOverview.title }}{% else %}OVERVIEW{% endif %}</h1>
    {{ product.metafields.certOverview.description }}
  </div>
</div>
{% endif %}
