{% assign option_name = 'Color' %}
{% assign variant_size = product.options_by_name[option_name].values.size %}
{% if variant_size == nil %}
  {% assign variant_size = 0 %}
{% endif %}
{% for product_option in product.options_with_values %}
  {% if product_option.name == option_name %}
    {% assign option_index = product_option.position %}
  {% endif %}
{% endfor %}
{% assign how_many_options = 0 %}
{% assign current_options = '' %}
{% assign swatches_size = 0 %}

{% if product.options_by_name[option_name] %}
  {% for option in product.options %}
    {% if option == option_name %}
      {% assign option_index = forloop.index0 %}
      {% break %}
    {% endif %}
  {% endfor %}

  {% if variant_size > 1 %}
    {% capture swatches_markup %}
      <ul class="swatches color-swatches">
        {% for variant in product.variants %}
          {% if variant.available %}
            {% assign current_option = variant.options[option_index] %}
            {% unless current_options contains current_option %}
              {% if how_many_options > 0 %}
                {% assign current_options = current_options | join: '|' | append: '|' %}
              {% endif %}
              {% assign current_options = current_options | append: current_option %}
              {% assign current_options = current_options | split: '|' | sort %}
              {% assign how_many_options = current_options | size %}

              {% assign img_url = variant.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}

              <li
                class="swatch swatch-{{ current_option | handleize }} {{ current_option | replace: ' ', '-' | handleize }}"
                data-image-id="{{ variant.featured_image.id }}"
                data-color-name="{{ current_option }}"
                v-bind:class="{ 'active': activeSwatches['{{ product.id }}'] === '{{ variant.id }}' }"
                v-on:click="changeSwatch('{{ variant.id }}', '{{ img_url }}', '{{ variant.featured_image.aspect_ratio }}', '{{ product.id }}', '{{ product.url | within: collection }}?variant={{ variant.id }}')"
              ></li>
              {% assign swatches_size = swatches_size | plus: 1 %}
            {% endunless %}
          {% endif %}
        {% endfor %}
      </ul>
    {% endcapture %}
  {% endif %}
{% endif %}

{% if swatches_size > 1 %}
  {{ swatches_markup }}
{% endif %}
