<div id="mobile-nav" v-cloak>
  <div class="hamburger" v-bind:class="{ 'open': navOpen, 'was-opened': wasOpened }" v-on:click="toggleNav()">
    <span class="lines"></span>
  </div>
  <div
    class="overlay nav-overlay"
    v-show="navOpen"
    v-on:click="toggleNav()"
    v-bind:style="{ 'top': `${stickyHeights.headerTop()}px`, 'was-opened': wasOpened }"
  ></div>

  <!-- ACCORDION -->
  <div
    class="drawer-wrapper {% if settings.mobile_nav_order == 'mobile-logo-center' %} left-drawer{% endif %} mobile-nav-wrapper v-hide"
    v-bind:class="{ 'open': navOpen }"
    v-bind:style="{ 'top': `${stickyHeights.headerTop()}px` }"
    v-if="mobileNavType === 'accordion'"
    v-cloak
  >
    <search-input v-on:focused="toggleInputFocused()" v-bind:is-mobile="true"></search-input>
    <search-results v-bind:input-focused="inputFocused"></search-results>
    {% for link in linklists[settings.header_linklist].links %}
      {% assign child_list_handle = link.title | handleize %}
      {% if linklists[child_list_handle].links != blank %}
        <div class="mobile-parent-links-wrapper" v-bind:class="{ 'active' : navToggles['{{ child_list_handle }}'] }">
          {% if linklists[child_list_handle].links.size > 0 %}
            <a
              href="#"
              class="mobile-link mobile-top-level-link has-children {% if forloop.first == true %}first-link{% endif %} "
              v-bind:class="{ 'active' : navToggles['{{ child_list_handle }}'] }"
              v-on:click.prevent="toggleMobileChildren('{{ child_list_handle }}')"
            >
              {{ link.title }}
            </a>
          {% else %}
            <a
              class="mobile-link mobile-top-level-link {% if forloop.first == true %}first-link{% endif %} is-direct-link"
              href="{{ link.url }}"
              {% if link.title contains 'Sale' %}data-sale="true"{% endif %}
            >
              {{ link.title }}
            </a>
          {% endif %}
          <div class="mobile-children-links-wrapper" v-show="navToggles['{{ child_list_handle }}']">

            {% for childlink in linklists[child_list_handle].links %}
              {% if childlink.links.size > 0 %}
                {% assign childlink_list_handle = childlink.title | handleize %}
                <div class="mobile-child-wrapper">
                  <a
                    class="mobile-link mobile-child-link has-children"
                    href="{{ childlink.url }}"
                    v-on:click.prevent="toggleMobileChildren('{{ child_list_handle }}', '{{ childlink_list_handle }}')"
                    v-bind:class="{ 'active' : navChildToggles['{{ childlink_list_handle }}'] }"
                  >{{ childlink.title | escape }}</a>
                  <div
                    class="mobile-grandchild-wrapper"
                    v-show="navChildToggles['{{ childlink_list_handle }}']"
                  >
                    {% for grandchild in childlink.links %}
                      <a
                        class="mobile-link mobile-grandchild-link is-direct-link"
                        href="{{ grandchild.url }}"
                      >
                        {{ grandchild.title | escape }}
                        <!-- <i class="chevron"></i> -->
                      </a>
                    {% endfor %}
                  </div>
                </div>
              {% else %}
                <div class="mobile-child-wrapper">
                  <a
                    class="mobile-link mobile-child-link is-direct-link"
                    href="{{ childlink.url }}"
                  >
                    {{ childlink.title | escape }}
                    <!-- <i class="chevron"></i> -->
                  </a>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% else %}
        <a
          href="{{ link.url }}"
          class="mobile-link mobile-top-level-link {% if forloop.first == true %}first-link{% endif %}"
          {% if link.title contains 'Sale' %}data-sale="true"{% endif %}
        >{{ link.title }}</a>
      {% endif %}
    {% endfor %}
    {% if shop.customer_accounts_enabled %}
      <br>
      <br>
      <a class="mobile-link additional-link in-out-link" href="/account">
        {% if customer and customer.first_name != blank %}{{ 'layout.customer.account' | t }}{% else %}{{ 'layout.customer.log_in' | t }}{% endif %}
      </a>
      {% if customer and customer.first_name != blank %}
        <a class="mobile-link additional-link in-out-link" href="/account/logout">{{ 'layout.customer.log_out' | t }}</a>
      {% else %}
        <a class="mobile-link additional-link" href="/account/register">{{ 'layout.customer.create_account' | t }}</a>
      {% endif %}
    {% endif %}
  </div>

  <!-- PAGINATE -->
  <transition-group
    tag="div"
    name="slide"
    class="drawer-wrapper{% if settings.mobile_nav_order == 'mobile-logo-center' %} left-drawer{% endif %} mobile-nav-wrapper v-hide paginate-mobile-nav-wrapper"
    v-bind:class="{ 'open': navOpen, 'was-opened': wasOpened }"
    v-bind:style="{ 'top': `${stickyHeights.headerTop()}px` }"
    v-else-if="mobileNavType === 'paginate'"
    v-cloak
  >
    <div
      key="home"
      v-show="currentPaginatePage == 'home'"
      v-bind:class="{ 'nested': currentPaginatePage === 'home' || currentPaginatePage === '{{ child_list_handle }}' }"
    >
      <search-input v-on:focused="toggleInputFocused()" v-bind:is-mobile="true"></search-input>
      <search-results v-bind:input-focused="inputFocused"></search-results>
      {% for link in linklists[settings.header_linklist].links %}
        {% assign child_list_handle = link.title | handleize %}
        {% assign loop_index = forloop.index %}
        <a
          href="{{ link.url }}"
          class="mobile-link mobile-top-level-link {% if forloop.first == true %}first-link{% endif %} {% if linklists[child_list_handle].links != blank %}has-children{% endif %}"
          {% if linklists[child_list_handle].links != blank %}
          v-on:click.prevent="currentPaginatePage = '{{ child_list_handle }}-{{ loop_index }}'; inputFocused = false;"
          {% endif %}
          {% if link.title contains 'Sale' %}data-sale="true"{% endif %}
        >{{ link.title }}</a>
      {% endfor %}
      {% if shop.customer_accounts_enabled %}
        <br>
        <br>
        <a class="mobile-link additional-link in-out-link" href="/account">
          {% if customer and customer.first_name != blank %}{{ 'layout.customer.account' | t }}{% else %}{{ 'layout.customer.log_in' | t }}{% endif %}
        </a>
        {% if customer and customer.first_name != blank %}
          <a class="mobile-link additional-link in-out-link" href="/account/logout">{{ 'layout.customer.log_out' | t }}</a>
        {% else %}
          <a class="mobile-link additional-link" href="/account/register">{{ 'layout.customer.create_account' | t }}</a>
        {% endif %}
      {% endif %}
    </div>

    {% for link in linklists[settings.header_linklist].links %}
      {% assign child_list_handle = link.title | handleize %}
      {% assign loop_index = forloop.index %}
      <div
        class="{{ child_list_handle }}"
        key="{{ child_list_handle }}-{{ forloop.index }}"
        v-bind:class="{ 'nested': currentPaginatePage === 'home' || (currentPaginatePage === '{{ child_list_handle }}-{{ loop_index }}' && lastPaginatePage !== 'home') }"
        v-show="currentPaginatePage == '{{ child_list_handle }}-{{ loop_index }}'"
      >
        <div class="paginate-header mobile-link mobile-top-level-link">
          <a v-on:click.prevent="currentPaginatePage = 'home'">
            <i class="chevron left"></i>
          </a>
          <a href="{{ link.url }}">{{ link.title | escape }}</a>
        </div>
        {% for childlink in linklists[child_list_handle].links %}
          <a
            class="mobile-link mobile-top-level-link {% if childlink.links != blank %}has-children{% endif %}"
            {% if childlink.links != blank %}
            v-on:click.prevent="currentPaginatePage = '{{ childlink.title | handleize }}-{{ loop_index }}'"
            {% else %}
            href="{{ childlink.url }}"
            {% endif %}
          >{{ childlink.title | escape }}</a>
        {% endfor %}

        {% assign linkProducts = link.object.products %}
        {% if linkProducts.size > 0 %}
          <div class="mobile-link mobile-top-level-link">
            <p>Top Products</p>
            <div class="mobile-nav-products">
              <div
                data-simplebar
                data-auto-hide="true"
                data-force-visible="false"
                class="product-list-wrapper product-list row"
              >
                {% for product in linkProducts | limit: 4 %}
                  <div class="product column-6">
                    <a class="product-image-wrapper image-wrap" href="{{ product.url | within: collection }}" title="{{ product.title }}">
                      {%- assign img_url = product.featured_image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                      <img
                        class="product-image lazyload blur-up"
                        src="{{ settings.placeholder_image | img_url }}"
                        alt="{{ product.title | escape }}"
                        data-src="{{ img_url }}"
                        data-widths="[360, 540, 720, 900, 1080, 1600]"
                        data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                        data-sizes="auto"
                        width="{{ product.featured_image.width }}"
                        height="{{ product.featured_image.height }}"
                        loading="lazy"
                      />
                    </a>
                    <div class="product-info">
                      {% if product.vendor %}<h5 class="vendor">{{ product.vendor }}</h5>{% endif %}
                      <a href="{{ product.url | within: collection }}" title="{{ product.title }}">
                        <h5>{{ product.title }}</h5>
                      </a>
                      {% if product.compare_at_price > product.price %}<div class="original-price">{{ product.compare_at_price | money_without_trailing_zeros }}</div>{% endif %}
                      <h5 class="price">{{ product.price | money_without_trailing_zeros }}</h5>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    {% endfor %}

    {% for link in linklists[settings.header_linklist].links %}
      {% assign child_list_handle = link.title | handleize %}
      {% assign loop_index = forloop.index %}
      {% for childlink in linklists[child_list_handle].links %}
        {% if childlink.links.size > 0 %}
          <div
            class="{{ childlink.title | handleize }}"
            key="{{ childlink.title | handleize }}"
            v-bind:class="{ 'nested': currentPaginatePage === '{{ child_list_handle }}-{{ loop_index }}' }"
            v-show="currentPaginatePage === '{{ childlink.title | handleize }}-{{ loop_index }}'"
          >
            <div class="paginate-header mobile-link mobile-top-level-link">
              <a v-on:click.prevent="currentPaginatePage = '{{ child_list_handle }}-{{ loop_index }}'">
                <i class="chevron left"></i>
              </a>
              <a href="{{ childlink.url }}">{{ childlink.title }}</a>
            </div>
            {% for grandchild in childlink.links %}
              <a
                class="mobile-link mobile-top-level-link"
                href="{{ grandchild.url }}"
              >{{ grandchild.title | escape }}</a>
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </transition-group>
</div>
