<div class="product-images-wrapper">
  {% if section.settings.mobile_image_style == 'scrollbar' %}
    <div class="mobile-images-wrapper simplebar-mobile-images">
      <div
        class="mobile-images row"
        data-simplebar
        data-simplebar-auto-hide="true"
      >
        {% for image in product.images %}
          <div class="image-wrap column-12">
            {%- assign img_url = image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img
              data-lightbox-trigger
              data-index="{{ forloop.index | minus: 1 }}"
              id="{{ image.id }}"
              class="lazyload blur-up"
              {% if settings.enable_placeholder_image %}
              src="{{ settings.placeholder_image | img_url }}"
              {% else %}
              src="{{ image.src | img_url: '360x' }}"
              {% endif %}
              alt="{{ image.alt | escape }}"
              data-src="{{ img_url }}"
              data-widths="[360, 540, 720, 900, 1080, 1600]"
              data-sizes="auto"
              data-variantid="{{ image.id }}"
              width="{{ image.width }}"
              height="{{ image.height }}"
              {% if forloop.index > 1 %}
              loading="lazy"
              {% endif %}
            />
            <noscript>
              <img class="lazyloaded" src="{{ image.src | img_url: '800x' }}" alt="{{ image.alt }}">
            </noscript>
          </div>
        {% endfor %}
      </div>
    </div>
  {% elsif section.settings.mobile_image_style == 'carousel' %}
    <div class="mobile-images-wrapper siema-mobile-images">
      <div class="mobile-images">
        {% for image in product.images %}
          <div class="image-wrap">
            {%- assign img_url = image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img
              data-lightbox-trigger
              data-index="{{ forloop.index | minus: 1 }}"
              id="{{ image.id }}"
              class="lazyload blur-up"
              {% if settings.enable_placeholder_image %}
              src="{{ settings.placeholder_image | img_url }}"
              {% else %}
              src="{{ image.src | img_url: '360x' }}"
              {% endif %}
              alt="{{ image.alt | escape }}"
              data-src="{{ img_url }}"
              data-widths="[360, 540, 720, 900, 1080, 1600]"
              data-sizes="auto"
              data-variantid="{{ image.id }}"
              width="{{ image.width }}"
              height="{{ image.height }}"
              {% if forloop.index > 1 %}
              loading="lazy"
              {% endif %}
            />
            <noscript>
              <img class="lazyloaded" src="{{ image.src | img_url: '800x' }}" alt="{{ image.alt }}">
            </noscript>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if section.settings.desktop_images_type == 'swatches' %}
    <div class="desktop-images-wrapper {% if product.images.size > 1 %}has-additional-images{% endif %}">
      {% if product.images.size > 1 %}
        <div class="additional-images-wrapper">
          {% for image in product.images %}
            {%- assign img_url = image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <div
              data-index="{{ forloop.index | minus: 1 }}"
              class="lazyload blur-up additional-image"
              style="background-image: url({{ image.src | img_url: '200x' }})"
              alt="{{ image.alt | escape }}"
              data-src="{{ img_url }}"
              data-master-src="{{ image.src | img_url: '1600x' }}"
              {% if settings.enable_placeholder_image %}
              data-small-src="{{ settings.placeholder_image | img_url }}"
              {% else %}
              data-small-src="{{ image.src | img_url: '360x' }}"
              {% endif %}
              data-aspectratio="{{ image.aspect_ratio }}"
              data-variantid="{{ image.id }}"
              width="{{ image.width }}"
              height="{{ image.height }}"
              {% if forloop.index > 4 %}
              loading="lazy"
              {% endif %}
            ></div>
          {% endfor %}
        </div>
      {% endif %}
      <div class="main-image-wrapper">
        <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: product.featured_image.aspect_ratio }}%;">
          {%- assign img_url = product.featured_image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <figure class="lazyload blur-up zoomImg" data-bg="{{ product.featured_image.src | img_url: '1600x' }}">
            <img
              data-lightbox-trigger
              data-index="0"
              id="ProductPhotoImg"
              class="main-image lazyload blur-up"
              {% if settings.enable_placeholder_image %}
              src="{{ settings.placeholder_image | img_url }}"
              data-placeholder="{{ settings.placeholder_image | img_url: 'large' }}"
              {% else %}
              src="{{ product.featured_image.src | img_url: '360x' }}"
              {% endif %}
              alt="{{ product.featured_image.alt | escape }}"
              data-src="{{ img_url }}"
              data-widths="[360, 540, 720, 900, 1080, 1600]"
              data-aspectratio="{{ product.featured_image.aspect_ratio }}"
              data-sizes="auto"
              width="{{ product.featured_image.width }}"
              height="{{ product.featured_image.height }}"
            />
          </figure>
          <noscript>
            <img class="lazyloaded" src="{{ product.featured_image.src | img_url: '800x' }}" alt="{{ product.featured_image.alt }}">
          </noscript>
        </div>
      </div>
    </div>
  {% elsif section.settings.desktop_images_type == 'tiles' %}
    <div class="desktop-images-wrapper desktop-images-wrapper-tiles {% if product.images.size > 1 %}has-additional-images{% endif %}">
      {% for image in product.images %}
        <div class="image-wrap" data-alt="{{ image.alt | escape }}" data-variantid="{{ image.id }}" style="height: 0; padding-bottom: {{ 100 | divided_by: image.aspect_ratio }}%; overflow: hidden;">
          {%- assign img_url = image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <figure class="lazyload blur-up zoomImg" data-bg="{{ image.src | img_url: '1600x' }}">
            <img
              data-lightbox-trigger
              data-index="{{ forloop.index | minus: 1 }}"
              class="main-image lazyload blur-up"
              {% if settings.enable_placeholder_image %}
              src="{{ settings.placeholder_image | img_url }}"
              data-placeholder="{{ settings.placeholder_image | img_url: 'large' }}"
              {% else %}
              src="{{ image.src | img_url: '360x' }}"
              {% endif %}
              alt="{{ image.alt | escape }}"
              data-src="{{ img_url }}"
              data-widths="[360, 540, 720, 900, 1080, 1600]"
              data-aspectratio="{{ image.aspect_ratio }}"
              data-sizes="auto"
              data-variantid="{{ image.id }}"
              width="{{ image.width }}"
              height="{{ image.height }}"
              {% if forloop.index > 4 %}
              loading="lazy"
              {% endif %}
            />
          </figure>
          <noscript>
            <img class="lazyloaded" src="{{ image.src | img_url: '800x' }}" alt="{{ image.alt }}">
          </noscript>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
