<div
  style="display: none;"
  class="lightbox"
  id="product-lightbox"
  data-lightbox-close
>
  <div class="hamburger-wrapper" data-lightbox-close>
    <div class="hamburger open">
      <span class="lines"></span>
    </div>
  </div>

  <div class="lightbox-images">
    {% for image in product.images %}
      <div class="image-wrap" data-alt="{{ image.alt | escape }}" data-variantid="{{ image.id }}">
        {%- assign img_url = image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        <img
          id="lightbox-image-{{ image.id }}"
          data-index="{{ forloop.index | minus: 1 }}"
          class="lightbox-image lazyload blur-up"
          src="{{ settings.placeholder_image | img_url: 'large' }}"
          alt="{{ image.alt | escape }}"
          data-src="{{ img_url }}"
          data-widths="[360, 540, 720, 900, 1080, 1600]"
          data-sizes="auto"
          data-variantid="{{ image.id }}"
          width="{{ image.width }}"
          height="{{ image.height }}"
          loading="lazy"
        />
        <noscript>
          <img class="lazyloaded" src="{{ image.src | img_url: '800x' }}" alt="{{ image.alt }}">
        </noscript>
      </div>
    {% endfor %}
  </div>
</div>
