{% comment %} Max amount of products visible {% endcomment %}
{% assign limit = section.settings.product_limit %}

{% comment %} Shopify generated dynamic recommendations, falling back to default related products (based on parent collection) {% endcomment %}
{% assign products = recommendations.products %}

{% comment %} Right now we only support articles, but this can be expanded upon{% endcomment %}
{% assign recProd = 5746496176278 %}
{% if article.metafields.global.productId %}
{% assign recProd = article.metafields.global.productId %}
{% elsif section.settings.product.size > 0 %}
{% assign recProd = section.settings.product.id %}
{% endif %}

<div class="product-list-wrapper featured-collection product-recommendations" data-product-id="{{ product.id }}" data-limit="{{ limit }}">
  <div class="max-width">
    <div class="title center-text">
      <h3>{{ section.settings.header_text }}</h3>
      <br>
    </div>
    <div
      id="blog-recommendations"
      class="recommendations product-list row"
      data-swatches-wrapper
      data-swatches-ajax="true"
    >
      {% assign count = 0 %}
      {%- for prod in products -%}
        {%- if prod.vendor != 'Route' and count < limit -%}
          {%- assign count = count | plus: 1 -%}
          <div class="product product-{{ prod.id }} column-6-tablet-vert-{{ 12 | divided_by: limit }}">
            {% render 'product-list-item', product: prod, limit: limit %}
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>

    <div class="product-list-collection-link center-text">
      <a href="/collections/all-products" title="View All Products" class="button">View All</a>
    </div>
  </div>
</div>

{% assign bestSellers = collections['all'].products | sort: 'best-sellers' %}

<script>
  function loadProductRecommendations() {
    var productRecommendationsWrapper = document.querySelector('.product-recommendations-wrapper');
    var dynamicProductRecommendationSection = document.querySelector('.product-recommendations');
    var productId = dynamicProductRecommendationSection.dataset.productId || "{{ bestSellers.first.id }}"; //@todo make an option in section
    var limit = dynamicProductRecommendationSection.dataset.limit;

    var request = new XMLHttpRequest();
    request.open('GET', '/recommendations/products?section_id=template-product-recommendations&limit='+limit+'&product_id='+productId, true);

    request.onload = function() {
      if (this.status >= 200 && this.status < 400) {
        var dataHTML = document.createElement('div');
        dataHTML.innerHTML = this.response.trim();
        var recommendedProductsResponseInner = dataHTML.querySelector('.product-recommendations .recommendations');

        if(recommendedProductsResponseInner.querySelectorAll('.product').length > 0) {
          var recommendationsWrapper = document.getElementById('blog-recommendations');
          recommendationsWrapper.innerHTML = recommendedProductsResponseInner.innerHTML;

          {% if section.settings.enable_scrollbar %}
          if(window.SimpleBar) {
            new SimpleBar(recommendationsWrapper);

            var doRecSwatchEvent = new CustomEvent('doSwatchesFromAjax-blog-recommendations');
            window.dispatchEvent(doRecSwatchEvent);
          } else {
            window.addEventListener('load', function() {
              new SimpleBar(recommendationsWrapper);

              var doRecSwatchEvent = new CustomEvent('doSwatchesFromAjax-blog-recommendations');
              window.dispatchEvent(doRecSwatchEvent);
            });
          }
          {% else %}
          var doRecSwatchEvent = new CustomEvent('doSwatchesFromAjax-blog-recommendations');
          window.dispatchEvent(doRecSwatchEvent);
          {% endif %}
        } else {
          productRecommendationsWrapper.style.display = 'none';
        }

      } else {
        productRecommendationsWrapper.style.display = 'none';
      }
    };

    request.onerror = function() {
      productRecommendationsWrapper.style.display = 'none';
    };

    request.send();
  }

  loadProductRecommendations();
</script>

<style>
.product-recommendations {
  padding-top: 0;
  padding-bottom: 1em !important;
}

@media(min-width: 1024px) {
  .product-recommendations {
    padding-bottom: 3em !important;
  }
}

#recommendations[data-simplebar="init"] .simplebar-content {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
}

#recommendations[data-simplebar="init"] .simplebar-content .product {
  flex-basis: 65%;
  margin-bottom: 1em;
  align-self: flex-start;
}

#recommendations[data-simplebar="init"] .simplebar-content .product:first-of-type {
  padding-left: 0;
}

#recommendations[data-simplebar="init"] .simplebar-content .product:last-of-type {
  padding-right: 0;
}

@media(min-width: 769px) {
  #recommendations[data-simplebar="init"] .simplebar-content .product {
    flex-basis: 25%;
  }
}

/* @media(max-width: 768px) { */
  #recommendations[data-simplebar="init"] {
    margin: 0;
  }

  #recommendations[data-simplebar="init"] .simplebar-scrollbar::before {
    opacity: 1 !important;
    background-color: #306cf4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  #recommendations[data-simplebar="init"] .simplebar-track.simplebar-horizontal {
    background: transparent;
    border-radius: 5px;
  }
/* } */
</style>

{% schema %}
{
  "name": "Blog Recommendations",
  "class": "product-recommendations-wrapper",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Default Product For Rec's",
      "info": "If product is set on the article level (article.metafields.global.productId), it will override this"
    },
    {
      "type": "range",
      "id": "product_limit",
      "label": "Product Limit",
      "min": 1,
      "max": 20,
      "step": 1,
      "default": 4
    },
    {
      "type": "text",
      "id": "header_text",
      "label": "Header Text",
      "default": "Related Products"
    },
    {
      "type": "checkbox",
      "id": "enable_scrollbar",
      "label": "Enable Scrollbar",
      "default": false
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Custom Recommendations",
      "category": "Products"
    }
  ]
}
{% endschema %}
