{% if section.blocks.size > 0 %}

  <section class="button-grid button-grid-{{ section.id }} max-width">
    {% if section.settings.title != blank %}
      <div class="section-header center-text">
        <div class="strikethrough-title"><h3 class="section-header__title">{{ section.settings.title | escape }}</h3></div>
      </div>
    {% endif %}

    <div class="row">
      {% for block in section.blocks %}
        <div class="block column-12-tablet-vert-{{ 12 | divided_by: section.blocks.size | times: 3 }}">
          <a
            class="button {% if block.settings.secondary_button %}secondary{% endif %}"
            href="{{ block.settings.link }}"
          >{{ block.settings.text }}</a>
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}

<style>
.button-grid-{{ section.id }} .button {
  width: 100%;
}

.button-grid-{{ section.id }} .section-header {
  margin-bottom: 1em;
}
</style>

{% schema %}
{
  "name": "Button Grid",
  "class": "button-grid",
  "max_blocks": 12,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Button Grid Title"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "checkbox",
          "id": "secondary_button",
          "label": "Secondary Button Styles",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Button Grid",
      "category": "Grid"
    }
  ]
}
{% endschema %}
