{% if section.blocks.size > 0 %}
  <section
    id="html-grid-{{ section.id }}"
    class="custom-html-grid"
    style="background-color: {{ section.settings.background_color }};{% if section.settings.background_image %}position: relative;{% endif %}"
  >
    <div class="{% if section.settings.max_width %}max-width{% endif %}">
      {% if section.settings.heading != blank %}
        <div class="title center-text">
          <h3>{{ section.settings.heading | escape }}</h3>
          <br>
        </div>
      {% endif %}

      {% if section.settings.reverse_mobile_order %}
        <style>
          @media(max-width: 767px) {
            #html-grid-{{ section.id }} > .row {
              flex-flow: column-reverse;
            }
          }
        </style>
      {% endif %}

      {% if section.settings.background_image %}
        {%- assign img_url = section.settings.background_image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        <img
          class="lazyload blur-up"
          src="{{ section.settings.background_image.src | img_url: '200x' }}"
          alt="Mobile block image {{ section.id }}"
          data-src="{{ img_url }}"
          data-widths="[360, 540, 720, 900, 1080, 1600]"
          data-sizes="auto"
          data-aspectratio="{{ section.settings.background_image.aspect_ratio }}"
          style="width: 100%; height: 100%; object-fit: cover; object-position: center; position: absolute;"
        />
        <noscript>
          <img class="lazyloaded" src="{{ section.settings.background_image.src | img_url: '800x' }}" alt="Mobile block image">
        </noscript>
      {% endif %}
      <div
      {% if section.settings.enable_scrollbar %}
        class="{% if section.settings.constrain_items %}max-width{% endif %} {% if section.settings.tablet_constrain_items %}tablet-constrain-items{% endif %}"
        data-simplebar
        data-simplebar-auto-hide="true"
        data-force-visible="true"
      {% else %}
        class="row {% if section.settings.constrain_items %}max-width{% endif %} {% if section.settings.tablet_constrain_items %}tablet-constrain-items{% endif %}"
      {% endif %}
      >
        {% for block in section.blocks %}
          <div id="block-{{ block.id }}" class="block column-6-tablet-vert-{{ 12 | divided_by: section.blocks.size }}">

            <style>
              {% if section.settings.block_as_background_image %}
                {% if block.settings.mobile_background_image or block.settings.desktop_background_image %}
                  #html-grid-{{ section.id }} #block-{{ block.id }} {
                    {{ block.settings.desktop_styles }}
                  }

                  #html-grid-{{ section.id }} #block-{{ block.id }} .custom-html-grid-description {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-flow: column;
                    align-items: flex-start;
                    justify-content: center;
                    margin: 0 auto;
                    transform: translateX(-50%);
                    padding: 0 1.25em;
                  }
                {% else %}
                  #html-grid-{{ section.id }} #block-{{ block.id }}  .mobile-block,
                  #html-grid-{{ section.id }} #block-{{ block.id }}  .desktop-block {
                    padding: 3em 1.25em;
                  }
                {% endif %}
              {% endif %}

              @media(max-width: 767px) {
                #html-grid-{{ section.id }} #block-{{ block.id }} {
                  {{ block.settings.mobile_styles }}
                }
                /* #html-grid-{{ section.id }} .custom-html-grid-description {
                  padding: 0 1.25em;
                } */

                /* #html-grid-{{ section.id }} {
                  padding: 1.25em 0 0;
                } */
              }

              @media(min-width: 1440px) {
                #html-grid-{{ section.id }} #block-{{ block.id }} {
                  font-size: 1.1em;
                }
              }
            </style>

            <!-- Mobile Block -->
            <div class="mobile-block {% if block.settings.no_side_padding %}no-side-padding{% endif %} {% if block.settings.invert_text %}invert{% endif %} lazyload {% if block.settings.overlay %}overlay{% endif %}">
              {% if block.settings.mobile_background_image %}
                {%- assign img_url = block.settings.mobile_background_image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img
                  class="lazyload blur-up"
                  src="{{ block.settings.mobile_background_image.src | img_url: '200x' }}"
                  alt="Mobile block image {{ section.id }}"
                  data-src="{{ img_url }}"
                  data-widths="[360, 540, 720, 900, 1080, 1600]"
                  data-sizes="auto"
                  data-aspectratio="{{ block_image.aspect_ratio }}"
                  width="{{ section.settings.mobile_background_image.width }}"
                  height="{{ section.settings.mobile_background_image.height }}"
                />
                <noscript>
                  <img class="lazyloaded" src="{{ block.settings.mobile_background_image.src | img_url: '800x' }}" alt="Mobile block image {{ section.id }}">
                </noscript>
              {% endif %}

              <div class="custom-html-grid-description">
                {{ block.settings.mobile_html }}
              </div>
            </div>

            <!-- Desktop Block -->
            <div class="desktop-block {% if block.settings.no_side_padding %}no-side-padding{% endif %} {% if block.settings.invert_text %}invert{% endif %} lazyload {% if block.settings.overlay %}overlay{% endif %}">
              {% if block.settings.mobile_background_image %}
                {%- assign img_url = block.settings.desktop_background_image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img
                  class="lazyload blur-up"
                  src="{{ block.settings.desktop_background_image.src | img_url: '200x' }}"
                  alt="Desktop block image {{ section.id }}"
                  data-src="{{ img_url }}"
                  data-widths="[360, 540, 720, 900, 1080, 1600]"
                  data-sizes="auto"
                  data-aspectratio="{{ block_image.aspect_ratio }}"
                  width="{{ section.settings.desktop_background_image.width }}"
                  height="{{ section.settings.desktop_background_image.height }}"
                />
                <noscript>
                  <img class="lazyloaded" src="{{ block.settings.desktop_background_image.src | img_url: '800x' }}" alt="Desktop block image {{ section.id }}">
                </noscript>
              {% endif %}

              <div class="custom-html-grid-description">
                {{ block.settings.desktop_html }}
              </div>
            </div>

          </div>
        {% endfor %}
      </div>

      {% if section.settings.add_bottom_button %}
        <div class="product-list-collection-link center-text">
          <a class="button" href="{{ section.settings.bottom_button_link }}">{{ section.settings.bottom_button_link_text }}</a>
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}

{% style %}
  section.custom-html-grid {
    overflow: hidden;
    padding: 3em 0;
  }

  {% if section.settings.block_as_background_image %}
  section.custom-html-grid .block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  section.custom-html-grid .block .mobile-block,
  section.custom-html-grid .block .desktop-block {
    position: relative;
    background-size: cover !important;
    background-position: center !important;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  section.custom-html-grid .block .mobile-block.overlay:before,
  section.custom-html-grid .block .desktop-block.overlay:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
  }

  @media(max-width: 767px) {
    section.custom-html-grid .block {
      max-width: 100%;
      flex-basis: 100%;
    }
  }
  section.custom-html-grid .block {
    padding-bottom: 0;
  }
  {% else %}
  section.custom-html-grid .block {
    padding-bottom: 1.25em;
  }

  section.custom-html-grid .block img {
    display: block;
    width: 100%;
    height: auto;
    /* margin-bottom: 0.75em; */
  }
  {% endif %}

  /* if they are stacked, remove top padding */
  .custom-html-grid + .custom-html-grid section,
  .custom-html-grid + .callout-grid section
  {
    padding-top: 0 !important;
  }

  section.custom-html-grid .block .mobile-block.no-side-padding,
  section.custom-html-grid .block .desktop-block.no-side-padding,
  section.custom-html-grid .block .mobile-block.no-side-padding .max-width,
  section.custom-html-grid .block .desktop-block.no-side-padding .max-width {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  section.custom-html-grid .block p:last-of-type,
  section.custom-html-grid .block h5:last-of-type
  {
    margin-bottom: 0;
  }

  .mobile-block {
    display: none !important;
  }

  @media(max-width: 767px) {
    section.custom-html-grid .block .desktop-block {
      display: none !important;
    }

    section.custom-html-grid .block .mobile-block {
      display: block !important;
      {% if section.settings.min_height %}min-height: 350px;{% endif %}
    }
  }

  .product-list-collection-link {
    margin-top: 2.5em;
    text-align: center;
  }

  @media(min-width: 1024px) {
    .product-list-collection-link {
      margin-top: 1.25em;
      text-align: center;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "Custom HTML Grid",
  "class": "custom-html-grid",
  "max_blocks": 4,
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "checkbox",
      "id": "max_width",
      "label": "Max Width Box",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "min_height",
      "label": "Min Height Box",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_scrollbar",
      "label": "Enable Scrollbar",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "constrain_items",
      "label": "Constain Items to Desktop",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "tablet_constrain_items",
      "label": "Constain Items to Tablet",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "reverse_mobile_order",
      "label": "Reverse Mobile Order",
      "default": false
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "checkbox",
      "id": "block_as_background_image",
      "label": "Blocks use image as backgrounds?",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "add_bottom_button",
      "label": "Show Bottom Button",
      "default": false
    },
    {
      "type": "text",
      "id": "bottom_button_link",
      "label": "Bottom Button Link"
    },
    {
      "type": "text",
      "id": "bottom_button_link_text",
      "label": "Bottom Button Link Text"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Grid Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "mobile_background_image",
          "label": "Mobile Image"
        },
        {
          "type": "image_picker",
          "id": "desktop_background_image",
          "label": "Desktop Image"
        },
        {
          "type": "checkbox",
          "id": "overlay",
          "label": "Block Overlay",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "invert_text",
          "label": "Invert Text Color",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "no_side_padding",
          "label": "Remove Side Padding On Block?",
          "default": false
        },
        {
          "type": "textarea",
          "id": "desktop_html",
          "label": "Desktop HTML"
        },
        {
          "type": "textarea",
          "id": "desktop_styles",
          "label": "Desktop Styles"
        },
        {
          "type": "textarea",
          "id": "mobile_html",
          "label": "Mobile HTML"
        },
        {
          "type": "textarea",
          "id": "mobile_styles",
          "label": "Mobile Styles"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom HTML Grid",
      "category": "Grid"
    }
  ]
}
{% endschema %}
