<section class="faq-section max-width custom-constrain-items">
  {% for block in section.blocks %}
    {% if block.type == 'question' %}
      <div class="accordion">
        <h4
          class="question"
          v-on:click="toggleQuestion('{{ block.id }}')"
          v-bind:class="[ toggles['{{  block.id }}'] && toggles['{{ block.id }}'] === true ? 'active' : '' ]"
        >{{ block.settings.question }}</h4>
        <transition name="list">
          <p
            v-cloak
            v-if="toggles['{{ block.id }}'] && toggles['{{ block.id }}'] === true"
            class="answer"
          >{{ block.settings.answer }}</p>
        </transition>
      </div>
    {% elsif block.type == 'header' %}
      <h2>{{ block.settings.header_text }}</h2>
      {% endif %}
  {% endfor %}
</section>

{% schema %}
{
  "name": "FAQ Section",
  "class": "faq-section",
  "blocks": [
    {
      "type": "question",
      "name": "Question/Answer",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question",
          "default": "Frequently asked question"
        },
        {
          "type": "text",
          "id": "answer",
          "label": "Answer",
          "default": "Use this text to answer questions in as much detail as possible for your customers."
        }
      ]
    },
    {
      "type": "header",
      "name": "Header",
      "settings": [
        {
          "type": "text",
          "id": "header_text",
          "label": "Header Text",
          "default": "Header"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ Section",
      "category": "FAQ",
      "blocks": [
        {
          "type": "header"
        },
        {
          "type": "question"
        },
        {
          "type": "question"
        },
        {
          "type": "question"
        }
      ]
    }
  ],
  "templates": ["page"]
}
{% endschema %}
