<style>
    {% if section.settings.background_color != 'rgba(0,0,0,0)' %}
    #shopify-section-{{ section.id }} {
      display: inline-block;
      width: 100%;
      background-color: {{ section.settings.background_color }};
    }
    {% endif %}

    {% if section.settings.text_color != 'rgba(0,0,0,0)' %}
    #shopify-section-{{ section.id }} * {
      color: {{ section.settings.text_color }};
    }
    {% endif %}
</style>

<div class="featured-collections-{{ section.id }} product-list-wrapper featured-collection">
  <div class="max-width">
    {% if section.settings.heading != blank %}
      <div class="title center-text">
        <h3>{{ section.settings.heading | escape }}</h3>
        <br>
      </div>
    {% endif %}
    <div
      id="simplebar-{{ section.id }}"
      {% if section.settings.enable_scrollbar %}
        class="product-list"
        data-simplebar
        data-simplebar-auto-hide="true"
        data-force-visible="true"
      {% else %}
        class="product-list row"
      {% endif %}
      >
      {% for block in section.blocks %}
      {% assign collection = collections[block.settings.collection] %}
        <div class="product column-6-tablet-vert-{{ 12 | divided_by: section.blocks.size }}">
          <a class="product-image-wrapper image-wrap" href="{{ collection.url }}" title="{{ collection.title | escape }}">
            {% if block.settings.image %}
              {%- assign img_url = block.settings.image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              {%- assign small_url = block.settings.image.src | img_url: '360x' -%}
              {%- assign img_width = block.settings.image.width -%}
              {%- assign img_height = block.settings.image.height -%}
            {% else %}
              {%- assign img_url = collection.image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              {%- assign small_url = collection.image.src | img_url: '360x' -%}
              {%- assign img_width = collection.image.width -%}
              {%- assign img_height = collection.image.height -%}
            {% endif %}
            <img
              class="product-image lazyload blur-up"
              {% if settings.enable_placeholder_image %}
              src="{{ settings.placeholder_image | img_url }}"
              {% else %}
              src="{{ small_url }}"
              {% endif %}
              alt="{{ collection.title | escape }}"
              data-src="{{ img_url }}"
              data-widths="[360, 540, 720, 900, 1080, 1600]"
              data-aspectratio="{{ collection.image.aspect_ratio }}"
              data-sizes="auto"
              width="{{ img_width }}"
              height="{{ img_height }}"
              loading="lazy"
            />
            <noscript>
              <img class="lazyloaded" src="{{ collection.image.src | img_url: '800x' }}" alt="{{ collection.title | escape }}">
            </noscript>
          </a>
          <div class="product-info">
            <a href="{{ collection.url }}" title="{{ collection.title }}">
              <h5>{{ collection.title }}</h5>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="product-list-collection-link"></div>
  </div>
</div>

{% schema %}
  {
    "name": "Featured Collections",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Featured Collections"
      },
      {
        "type": "checkbox",
        "id": "enable_scrollbar",
        "label": "Enable Scrollbar",
        "default": false
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "id": "collection",
            "type": "collection",
            "label": "Collection"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Collection Image",
            "info": "Will default to collection image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured Collections",
        "category": "Collections"
      }
    ]
  }
{% endschema %}
