{% comment %} Max amount of products visible {% endcomment %}
{% assign limit = section.settings.product_limit %}

{% comment %} Shopify generated dynamic recommendations, falling back to default related products (based on parent collection) {% endcomment %}
{% assign collection = collections[section.settings.collection] %}

<style>
  {% if section.settings.background_color != 'rgba(0,0,0,0)' %}
  #shopify-section-{{ section.id }} {
    display: inline-block;
    width: 100%;
    background-color: {{ section.settings.background_color }};
  }
  {% endif %}

  {% if section.settings.text_color != 'rgba(0,0,0,0)' %}
  #shopify-section-{{ section.id }} .title * {
    color: {{ section.settings.text_color }} !important;
  }
  {% endif %}
</style>

<div class="product-list-wrapper featured-collection">
  <div class="max-width">
    <div class="title center-text">
      <h3>{{ section.settings.title }}</h3>
      <br>
    </div>
    <div
      id="simplebar-{{ section.id }}"
      data-swatches-wrapper
      {% if section.settings.enable_scrollbar %}
        class="product-list"
        data-simplebar
        data-simplebar-auto-hide="true"
        data-force-visible="true"
      {% else %}
        class="product-list row"
      {% endif %}
    >
      {% for prod in collection.products limit: limit %}
        <div class="product product-{{ prod.id }} column-6-tablet-vert-{{ 12 | divided_by: limit }}">
          {% render 'product-list-item', product: prod %}
        </div>
      {% endfor %}
    </div>
    <div class="product-list-collection-link">
      <a href="{{ collection.url }}" class="button" title="{{ section.settings.shop_link_text }}">{{ section.settings.shop_link_text }}</a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "product_limit",
        "label": "Product Limit",
        "min": 1,
        "max": 12,
        "step": 1,
        "default": 4
      },
      {
        "type": "text",
        "id": "shop_link_text",
        "label": "Shop Link Text",
        "default": "Shop All Products"
      },
      {
        "type": "checkbox",
        "id": "enable_scrollbar",
        "label": "Enable Scrollbar",
        "default": false
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color"
      }
    ],
    "presets": [
      {
        "name": "Featured Collection",
        "category": "Products"
      }
    ]
  }
{% endschema %}
