<style>
  {% if section.settings.background_color != 'rgba(0,0,0,0)' %}
  #shopify-section-{{ section.id }} {
    display: inline-block;
    width: 100%;
    background-color: {{ section.settings.background_color }};
  }
  {% endif %}

  {% if section.settings.text_color != 'rgba(0,0,0,0)' %}
  #shopify-section-{{ section.id }} .title *, #shopify-section-{{ section.id }} .product *  {
    color: {{ section.settings.text_color }};
  }
  {% else %}
  #shopify-section-{{ section.id }} .product .star-icon {
    filter: brightness(0);
  }
  {% endif %}

  #shopify-section-{{ section.id }} .product {
    margin: 0 2.5em 1.25em 0;
  }

  #shopify-section-{{ section.id }} .product:last-of-type {
    margin-right: 0;
  }

  #shopify-section-{{ section.id }} .product .stars {
    margin: 1.75em 0;
  }
</style>

<section class="product-list-wrapper featured-collection">
  <div class="{{ section.settings.align_text }}-text testimonials-{{ section.id }} max-width">
    <div class="title center-text">
      <h2>{{ section.settings.title }}</h2>
      <br>
    </div>
    <div
      id="simplebar-{{ section.id }}"
      {% if section.settings.enable_scrollbar %}
        class="product-list"
        data-simplebar
        data-simplebar-auto-hide="true"
        data-force-visible="true"
      {% else %}
        class="product-list row"
      {% endif %}
    >
      {% for block in section.blocks %}
        <div class="product column-6-tablet-vert-{{ 12 | divided_by: limit }}">
          <a class="product-image-wrapper" href="{{ block.settings.product_link.url | within: collection }}">
            <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.product_link.featured_image.aspect_ratio }}%;">
              {%- assign img_url = block.settings.product_link.featured_image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <img
                class="product-image lazyload blur-up"
                src="{{ settings.placeholder_image | img_url }}"
                alt="{{ block.settings.product_link.title | escape }}"
                data-src="{{ img_url }}"
                data-widths="[360, 540, 720, 900, 1080, 1600]"
                data-sizes="auto"
                data-first-src="{{ img_url }}"
                width="{{ block.settings.product_link.featured_image.width }}"
                height="{{ block.settings.product_link.featured_image.height }}"
              />
            </div>
          </a>
          <div class="stars">
            {% for star in (1..block.settings.star_rating) %}
              <i class="icon star-icon"></i>
            {% endfor %}
          </div>
          {% if block.settings.testimonial != blank %}
            <p>{{ block.settings.testimonial }}</p>
          {% endif %}
          {% if block.settings.author != blank %}
            <p class="small secondary-font author">
              {{ block.settings.author | escape }}
              <br>
              {% if block.settings.product_link != blank %}
                <a class="small" href="{{ block.settings.product_link.url | within: collection }}">{{ block.settings.product_link.title }}</a>
              {% endif %}
            </p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="product-list-collection-link">
      <a class="button secondary" href="/pages/reviews">Read All Reviews</a>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Testimonials",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Reviews"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color"
      },
      {
        "type": "checkbox",
        "id": "enable_scrollbar",
        "label": "Enable Scrollbar",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Testimonial",
        "settings": [
          {
            "type": "select",
            "id": "align_text",
            "label": "Text alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Centered"
              }
            ]
          },
          {
            "type": "textarea",
            "id": "testimonial",
            "label": "Testimonial",
            "default": "Add customer reviews and testimonials to showcase your store’s happy customers."
          },
          {
            "type": "range",
            "id": "star_rating",
            "label": "Star Rating",
            "info": "In 1/5",
            "min": 0,
            "max": 5,
            "step": 1,
            "default": 5
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author's name"
          },
          {
            "type": "product",
            "id": "product_link",
            "label": "Product Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials",
        "category": "Text"
      }
    ]
  }
{% endschema %}
