<style>
.logo-bar--{{ section.id }} {
  opacity: {{ section.settings.logo_opacity | divided_by: 100.0 }};
}

{% if section.settings.background_color != 'rgba(0,0,0,0)' %}
  #shopify-section-{{ section.id }} {
    display: inline-block;
    width: 100%;
    background-color: {{ section.settings.background_color }};
  }
  {% endif %}

  {% if section.settings.text_color != 'rgba(0,0,0,0)' %}
  #shopify-section-{{ section.id }} * {
    color: {{ section.settings.text_color }};
  }
{% endif %}
</style>

<section id="logo-list-{{ section.id }}" class="max-width">
  {% if section.settings.title != blank %}
    <div class="section-header center-text">
      <div><h2 class="section-header__title">{{ section.settings.title | escape }}</h2></div>
    </div>
  {% endif %}

  {% if section.blocks.size > 0 %}
    <div class="logo-bar logo-bar--{{ section.id }}">
      {% for block in section.blocks %}
        <div class="logo-bar__item" {{ block.shopify_attributes }}>
          {% if block.settings.link != blank %}
            <a href="{{ block.settings.link }}" class="logo-bar__link">
          {% endif %}
          {% if block.settings.image != blank %}
            {%- assign img_url =  block.settings.image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img
              class="lazyload blur-up"
              src="{{ block.settings.image.src | img_url: 'small' }}"
              alt="{{ block.settings.image.alt | escape }}"
              data-src="{{ img_url }}"
              data-widths="[360, 540, 720, 900, 1080, 1600]"
              data-aspectratio="{{ block.settings.image.aspect_ratio }}"
              data-sizes="auto"
              alt="{{ block.settings.image.title }}"
            />
            <noscript>
              <img class="lazyloaded" src="{{ block.settings.image.src | img_url: '800x' }}" alt="{{ block.settings.image.alt }}">
            </noscript>
          {% else %}
            {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
          {% if block.settings.link != blank %}
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
  </section>

<style>
#logo-list-{{ section.id }} {
  margin: 3em auto;
}

.logo-bar--{{ section.id }} {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.logo-bar--{{ section.id }} .logo-bar__item {
  flex-basis: 50%;
  width: 100%;
  text-align: center;
}

@media(min-width: 768px) {
  #logo-list-{{ section.id }} {
    margin: 6em auto;
  }

  .logo-bar--{{ section.id }} {
    justify-content: center;
  }

  .logo-bar--{{ section.id }} .logo-bar__item {
    flex-basis: 33.333333%;
  }
}

@media(min-width: 1025px) {
  .logo-bar--{{ section.id }} {
    justify-content: space-between;
  }

  .logo-bar--{{ section.id }} .logo-bar__item {
    flex-basis: 16.666666%;
  }
}

.logo-bar--{{ section.id }} .logo-bar__item img, .logo-bar--{{ section.id }} .logo-bar__item svg {
  padding: 2em 0.625em;
  width: 100%;
  max-width: 150px;
}
</style>

{% schema %}
  {
    "name": "Logo list",
    "class": "index-section",
    "max_blocks": 10,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "range",
        "id": "logo_opacity",
        "label": "Logo opacity",
        "default": 76,
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "%"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color"
      }
    ],
    "blocks": [
      {
        "type": "logo_image",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Logo list",
        "category": "Image",
        "blocks": [
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          }
        ]
      }
    ]
  }
{% endschema %}
