<div class="mobile-images-wrapper">
  {% include 'flair-product-badges' %}
  <div class="mobile-images">
    {% for image in product.images %}
      <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: image.aspect_ratio }}%;">
        {%- assign img_url = image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        <img
          id="{{ image.id }}"
          data-index="{{ forloop.index }}"
          class="lazyload blur-up"
          src="{{ settings.placeholder_image | img_url }}"
          alt="{{ image.alt | escape }}"
          data-src="{{ img_url }}"
          data-widths="[360, 540, 720, 900, 1080, 1600]"
          data-aspectratio="{{ image.aspect_ratio }}"
          data-sizes="auto"
          data-variantid="{{ image.id }}"
        />
        <noscript>
          <img class="lazyloaded" src="{{ image.src | img_url: '800x' }}" alt="{{ image.alt }}">
        </noscript>
      </div>
    {% endfor %}
  </div>
</div>

{% if section.settings.desktop_images_type == 'swatches' %}
  <div class="desktop-images-wrapper {% if product.images.size > 1 %}has-additional-images{% endif %}">
    {% if product.images.size > 1 %}
      <div class="additional-images-wrapper">
        {% for image in product.images %}
          {%- assign img_url = image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <div
            class="lazyload blur-up additional-image"
            style="background-image: url({{ image.src | img_url: '200x' }})"
            alt="{{ image.alt | escape }}"
            data-src="{{ img_url }}"
            data-master-src="{{ image.src | img_url: '1600x' }}"
            data-small-src="{{ settings.placeholder_image | img_url }}"
            data-aspectratio="{{ image.aspect_ratio }}"
            data-variantid="{{ image.id }}"
          ></div>
        {% endfor %}
      </div>
    {% endif %}
    <div class="main-image-wrapper">
      {% include 'flair-product-badges' %}
      <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: product.featured_image.aspect_ratio }}%;">
        {%- assign img_url = product.featured_image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        <figure class="lazyload blur-up zoomImg" data-bg="{{ product.featured_image.src | img_url: '1600x' }}">
          <img
            id="ProductPhotoImg"
            class="main-image lazyload"
            src="{{ settings.placeholder_image | img_url }}"
            alt="{{ product.featured_image.alt | escape }}"
            data-src="{{ img_url }}"
            data-widths="[360, 540, 720, 900, 1080, 1600]"
            data-aspectratio="{{ product.featured_image.aspect_ratio }}"
            data-placeholder="{{ settings.placeholder_image | img_url }}"
            data-sizes="auto"
          />
        </figure>
        <noscript>
          <img class="lazyloaded" src="{{ product.featured_image.src | img_url: '800x' }}" alt="{{ product.featured_image.alt }}">
        </noscript>
      </div>
    </div>
  </div>
{% elsif section.settings.desktop_images_type == 'tiles' %}
  <div class="desktop-images-wrapper desktop-images-wrapper-tiles {% if product.images.size > 1 %}has-additional-images{% endif %}">
    {% for image in product.images %}
      <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: image.aspect_ratio }}%; overflow: hidden;">
        {%- assign img_url = image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        <figure class="lazyload blur-up zoomImg" data-bg="{{ image.src | img_url: '1600x' }}" style="width: 100%">
          <img
            class="main-image lazyload"
            src="{{ settings.placeholder_image | img_url }}"
            alt="{{ image.alt | escape }}"
            data-src="{{ img_url }}"
            data-widths="[360, 540, 720, 900, 1080, 1600]"
            data-aspectratio="{{ image.aspect_ratio }}"
            data-placeholder="{{ settings.placeholder_image | img_url }}"
            data-sizes="auto"
            data-variantid="{{ image.id }}"
          />
        </figure>
        <noscript>
          <img class="lazyloaded" src="{{ image.src | img_url: '800x' }}" alt="{{ image.alt }}">
        </noscript>
      </div>
    {% endfor %}
  </div>
{% endif %}

{% schema %}
  {
    "name": "Product Images",
    "settings": [
      {
        "type": "select",
        "id": "desktop_images_type",
        "label": "Desktop Images Type",
        "options": [
          {
            "value": "tiles",
            "label": "Tiles"
          },
          {
            "value": "swatches",
            "label": "Swatches"
          }
        ],
        "default": "swatches"
      }
    ]
  }
{% endschema %}
