<div id="product-description" class="description-wrapper">
  {% if product.metafields.tab.size > 0 %}
    <div class="description-accordions">
      <div
        class="description-accordion"
        v-bind:class="{ 'active' : descriptionToggles['description'] }"
        v-on:click.prevent="toggleDescriptionAccordion('description')"
      >
        <h5>Description</h5>
        <div class="description-text" v-show="descriptionToggles['description']">
          {{ product.description }}
        </div>
      </div>

      {% for tab in product.metafields.tab %}
        <div
          class="description-accordion"
          v-bind:class="{ 'active' : descriptionToggles['{{ tab | first }}'] }"
          v-on:click.prevent="toggleDescriptionAccordion('{{ tab | first }}')"
          v-cloak
        >
          <h5>{{ tab | first | capitalize }}</h5>
          <div class="description-text" v-show="descriptionToggles['{{ tab | first }}']">
            {{ tab | last }}
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="description-text">
      {{ product.description }}
    </div>
  {% endif %}
</div>
