<div class="blog">
  {% include 'hero' %}

  <div class="blog-inner max-width">
    <div class="row blog-main-row">
      <div class="column-12-tablet-vert-8 blog-left-area">
        <div class="row">
          <div class="column-12">
            <h5 class="blog-col-header">
              {%- if current_tags.size > 0 -%}
              Articles Tagged with {{ current_tags }}
              {%- else -%}
              Featured Posts
              {%- endif -%}
            </h5>
          </div>
          {% paginate blog.articles by 20 %}
            {% for article in blog.articles %}
              <div class="post no-padding{% if forloop.index == 1 %} column-12{% else %} column-12-tablet-vert-6{% endif %}">
                <a href="{{ article.url }}">
                  {%- assign base_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <img
                    class="post-hero lazyload blur-up"
                    src="{{ settings.placeholder_image | img_url }}"
                    alt="{{ article.title | escape }}"
                    data-src="{{ base_url }}"
                    data-widths="[360, 540, 720, 900, 1080, 1600]"
                    data-aspectratio="{{ collection.image.aspect_ratio }}"
                    data-sizes="auto"
                  />
                  <noscript>
                    <img class="lazyloaded" src="{{ article.image| img_url: '800x' }}" alt="{{ article.title | escape }}">
                  </noscript>
                </a>
                <div class="post-text">
                  <h5 class="author">
                    <span>{{ article.author }}</span>
                  </h5>
                  <a href="{{ article.url }}">
                    <h5 class="post-title no-margin">{{ article.title }}</h5>
                  </a>
                  {% if article.excerpt.size > 0 %}
                    <div class="excerpt author">{{ article.excerpt }}</div>
                  {% else %}
                    <h5 class="excerpt author">{{ article.content | strip_html | truncatewords: 15 }}</h5>
                  {% endif %}
                  <h5 class="author">
                    <span>{{ article.published_at | date: '%a %b %d, %Y' }}</span>
                  </h5>
                </div>
              </div>
            {% endfor %}
          </div>

          {% if paginate.pages > 1 %}
            <div class="blog-pagination constrain-items">
              {% render 'pagination', paginate: paginate %}
            </div>
          {% endif %}
        {% endpaginate %}
      </div>

      {% render 'blog-right-area' %}
    </div>
  </div>
</div>
