<div id="four-oh-four" class="page">
  {% if settings.four_oh_four_image %}
    <div class="category-hero category-hero-image">
      {%- assign img_url = settings.four_oh_four_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      <img
        id="hero-image-desktop"
        class="lazyload blur-up"
        src="{{ settings.four_oh_four_image | img_url: '200x' }}"
        alt="404 Page Not Found"
        data-src="{{ img_url }}"
        data-widths="[360, 540, 720, 900, 1080, 1600]"
        data-aspectratio="{{ settings.four_oh_four_image.aspect_ratio }}"
        data-sizes="auto"
        style="position: absolute; width: 100%; height: 100%; object-fit: cover;"
        width="{{ settings.four_oh_four_image.width }}"
        height="{{ settings.four_oh_four_image.height }}"
      />
      <noscript>
        <img class="lazyloaded" src="{{ settings.four_oh_four_image | img_url: '800x' }}" alt="404 Page Not Found">
      </noscript>

      <div class="category-hero-inner category-hero-image max-width tablet-constrain-items">
        <div class="hero">
          <h1 class="hero"><span>{{ settings.four_oh_four_header }}</span></h1>
          {% if settings.four_oh_four_subtext.size > 0 %}<div class="description">{{ settings.four_oh_four_subtext }}</div>{% endif %}
        </div>
      </div>
    </div>
  {% else %}
    <div class="no-image-category-hero-wrapper">
      <div class="category-hero tablet-constrain-items">
        <div class="category-hero-inner category-hero-no-image">
          <div class="hero">
            <h1 class="hero"><span>{{ settings.four_oh_four_header }}</span></h1>
            {% if settings.four_oh_four_subtext.size > 0 %}<div class="description">{{ settings.four_oh_four_subtext }}</div>{% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="max-width">
    <div class="products-wrapper product-list-wrapper">
      <div class="products row">
        {% for prod in collections[settings.four_oh_four_collection].products limit: 40 %}
          <div class="product product-{{ prod.id }} column-6-tablet-vert-3">
            {% render 'product-list-item', product: prod %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
