<div class="article">
  <div class="article-inner max-width">
    <div class="row article-main-row">
      <div class="column-12-tablet-vert-8 blog-left-area">
        <div class="article-content">
          {% assign number_of_comments = article.comments_count %}
          {% if comment and comment.created_at %}
            {% assign number_of_comments = article.comments_count %}
          {% endif %}

          <h1>{{ article.title }}</h1>
          <p class="author">
            <strong>{{ article.author }}</strong>
            <br>
            <span>{{ article.published_at | date: '%a %b %d, %Y' }}</span>
            {% if blog.comments_enabled? and article.comments_count > 0 %}
              <br>
              <span>
                <a id="comments-count" href="{{ article.url }}#comments">{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}</a>
              </span>
            {% endif %}
          </p>

          {%- assign img_url = article.image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <img
            class="blog-post-image lazyload blur-up"
            src="{{ article.image.src | img_url: 'pico' }}"
            alt="{{ article.image.alt | escape }}"
            data-src="{{ img_url }}"
            data-widths="[360, 540, 720, 900, 1080, 1600]"
            data-aspectratio="{{ article.image.aspect_ratio }}"
            data-sizes="auto"
            width="{{ article.image.width }}"
            height="{{ article.image.height }}"
            loading="lazy"
          />
          <noscript>
            <img class="lazyloaded" src="{{ article.image.src | img_url: '800x' }}" alt="{{ article.image.alt }}">
          </noscript>

          <div>{{ article.content }}</div>

          {% render 'blog-reviews' %}
          {% render 'blog-comment-form' %}
          {% render 'blog-previous-next' %}
        </div>
      </div>

      {% render 'blog-right-area' %}
    </div>
  </div>
</div>
