{% if search.terms.size > 0 %}
  <div id="search-app">
    <section>
      <div class="max-width">
        <div class="no-image-category-hero-wrapper">
          <div class="category-hero tablet-constrain-items">
            <div class="category-hero-inner category-hero-no-image">
              <div class="hero">
                <p>Search results for:</p>
                <h1 class="hero"><span>{{ search.terms | escape }}</span></h1>
                <div class="tab-buttons">
                  <button v-bind:class="{ 'secondary': activeTab === 'products' }" v-on:click="activateTab('products')">Product Results</button>
                  <button v-bind:class="{ 'secondary': activeTab === 'articles' }" v-on:click="activateTab('articles')">Article Results</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div v-if="activeTab === 'products'">
        <div class="filters-products-wrapper row max-width" v-if="loading || (!loading && products.length > 0)">
          <div class="overlay filters-overlay v-hide" v-if="showMobileNav" v-on:click="toggleMobileCollectionNav(false)" v-cloak></div>
          <div class="filters column-12-tablet-vert-3" v-cloak v-bind:class="{ 'active': showMobileNav, 'was-opened': wasOpened, 'toggled-off': !showFilters || filterOptionsAvailable.length <= 0 }">

            <div class="mobile-filter-header">
              <p>Filter & Sort</p>
              <span v-on:click="toggleMobileCollectionNav(false)" class="hamburger open"><span class="lines"></span></span>
            </div>

            <div class="filters-inner">
              <div class="desktop-filter-header">
                <p>Filter & Sort</p>
              </div>

              <div class="checked-options" v-if="actualCheckedOptionsArray.length > 0">
                <span
                  class="checked-option capitalize"
                  v-for="(option, index) in actualCheckedOptionsArray"
                  v-on:click="uncheckOption(option)"
                  v-bind:key="index"
                >
                  <span class="remove hamburger open hover"><span class="lines"></span></span>
                  <span v-html="option.name"></span>
                </span>
              </div>

              <p class="product-count left-padding hide-tablet" v-if="!loading" v-cloak>
                <span v-if="paginatedProductsPages > 1">
                  ${ pageRangeStart + 1 }-${ pageRangeEnd }
                  <span v-if="paginatedProducts.length < filteredProducts.length">
                  of ${ filteredProducts.length } Product<span v-if="filteredProducts.length === 0 || filteredProducts.length > 1">s</span>
                  </span>
                </span>
                <span v-else>
                  ${ paginatedProducts.length } Product<span v-if="paginatedProducts.length === 0 || paginatedProducts.length > 1">s</span>
                </span>
              </p>

              <div v-if="loading">
                <div class="filter" v-for="index in 4" v-bind:class="index">
                  <h5 class="filter-name">&nbsp</h5>
                </div>
              </div>
              <div id="filters" v-else>
                <div class="filter">
                  <h5
                    class="filter-name"
                    v-bind:class="{ 'active' : filterToggles['sort'] }"
                    v-on:click.prevent="toggleFilter('sort')"
                  >Sort</h5>
                  <ul v-show="filterToggles['sort']" v-bind:class="{ 'swatches': isSwatch('sort') }">
                    <li>
                      <div class="radio">
                        <input id="sort-featured" type="radio" v-model="sort" value="" name="sort">
                        <label for="sort-featured">Featured</label>
                      </div>
                    </li>
                    <li>
                      <div class="radio">
                        <input id="sort-atoz" type="radio" v-model="sort" value="atoz" name="sort">
                        <label for="sort-atoz">Alphabetically, A-Z</label>
                      </div>
                    </li>
                    <li>
                      <div class="radio">
                        <input id="sort-ztoa" type="radio" v-model="sort" value="ztoa" name="sort">
                        <label for="sort-ztoa">Alphabetically, Z-A</label>
                      </div>
                    </li>
                    <li>
                      <div class="radio">
                        <input id="sort-priced" type="radio" v-model="sort" value="priced" name="sort">
                        <label for="sort-priced">Price, low to high</label>
                      </div>
                    </li>
                    <li>
                      <div class="radio">
                        <input id="sort-pricea" type="radio" v-model="sort" value="pricea" name="sort">
                        <label for="sort-pricea">Price, high to low</label>
                      </div>
                    </li>
                    <li>
                      <div class="radio">
                        <input id="sort-datea" type="radio" v-model="sort" value="datea" name="sort">
                        <label for="sort-datea">Date, new to old</label>
                      </div>
                    </li>
                    <li>
                      <div class="radio">
                        <input id="sort-dated" type="radio" v-model="sort" value="dated" name="sort">
                        <label for="sort-dated">Date, old to new</label>
                      </div>
                    </li>
                    <!-- <li>
                      <div class="radio">
                        <input id="sort-vendor" type="radio" v-model="sort" value="vendor" name="sort">
                        <label for="sort-vendor">Product Brand</label>
                      </div>
                    </li> -->
                  </ul>
                </div>

                <div
                  class="filter"
                  v-for="filter in filterOptions"
                  v-if="filter.options.length > 1"
                >
                  <h5
                    class="filter-name"
                    v-bind:class="{ 'active' : filterToggles[filter.name] }"
                    v-on:click.prevent="toggleFilter(filter.name)"
                    v-html="changeVendorToBrand(filter.name)"
                  ></h5>
                  <ul v-show="filterToggles[filter.name]" v-bind:class="{ 'swatches': isSwatch(filter.name) }">
                    <li v-for="option in filter.options" v-bind:class="{ 'color-swatch': filter.name.toLowerCase() === 'color', 'size-swatch': filter.name.toLowerCase() === 'size' }">
                      <div v-bind:class="{ 'checkbox': !isSwatch(filter.name) }">
                        <input v-bind:id="option.name + '-' + filter.name" type="checkbox" v-model="checkedOptions[filter.name]" v-bind:value="option">
                        <label v-bind:for="option.name + '-' + filter.name" v-html="option.name" v-bind:class="[ option.name.replace(/ /g, '-').toLowerCase() ]"></label>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="filter clear-line" v-if="actualCheckedOptionsArray.length > 0">
                  <a href="#" v-on:click.prevent="clearCheckedOptions()">Clear All</a></p>
                </div>
              </div>
            </div>
          </div>

          <div
            v-cloak
            class="column-12 column-12-tablet-vert-9 max-width-no-padding collection-right"
            v-bind:class="{ 'full-width-grid-override': !showFilters || filterOptionsAvailable.length <= 0, 'filters-hidden': !showFilters || filterOptionsAvailable.length <= 0 }"
          >
            <div class="header-wrapper row-top max-width-no-padding">
              <div class="column-12 row-top-space-between-no-padding collection-info">
                <div>
                  <a
                    href="#"
                    class="toggle-filters show-tablet"
                    v-on:click.prevent="toggleFilters()"
                    v-if="filterOptionsAvailable.length > 0"
                  ><span class="v-cloak" v-cloak>${ showFilters ? 'Hide' : 'Show' }</span> Filter & Sort</a>
                </div>
                <span class="product-count left-padding show-tablet" v-if="!loading">
                  <span v-if="paginatedProductsPages > 1">
                    ${ pageRangeStart + 1 }-${ pageRangeEnd }
                    <span v-if="paginatedProducts.length < filteredProducts.length">
                    of ${ filteredProducts.length } Product<span v-if="filteredProducts.length === 0 || filteredProducts.length > 1">s</span>
                    </span>
                  </span>
                  <span v-else>
                    ${ paginatedProducts.length } Product<span v-if="paginatedProducts.length === 0 || paginatedProducts.length > 1">s</span>
                  </span>
                </span>
              </div>
              <div class="column-12 mobile-collection-options">
                <div>
                  <a
                    href="#"
                    class="small"
                    v-if="filterOptionsAvailable.length > 0"
                    v-on:click.prevent="toggleMobileCollectionNav()"
                  >Filter & Sort</a>
                </div>
                <div class="mobile-grid-swatches">
                  <div><span class="small">View</span></div>
                  <div class="grid-swatch" v-for="i in 2">
                    <input v-bind:id="i + '-grid-size'" type="radio" v-model="mobileGridSize" v-bind:value="i">
                    <label v-bind:for="i + '-grid-size'" v-cloak>${i}</label>
                  </div>
                </div>
              </div>
              <!-- <div class="show-tablet column-4">
                <label class="sort-by">Sort By</label>
                <select v-model="sort" v-on:change="currentPage = 1">
                  <option value="">Featured</option>
                  <option value="pricea">Highest Price</option>
                  <option value="priced">Lowest Price</option>
                  <option value="atoz">A to Z</option>
                  <option value="ztoa">Z to A</option>
                  <option value="type">Product Type</option>
                  <option value="vendor">Product Brand</option>
                </select>
              </div> -->
            </div>

            <div class="products-wrapper product-list-wrapper">
              <div class="products" v-show="!showVueProducts" v-bind:class="[computedMobileGridSize, { 'filters-hidden': !showFilters || filterOptionsAvailable.length <= 0 }]">
                {% assign limit = settings.pagination_limit | default: 40 %}
                {% assign found_products = 0 %}
                {% paginate search.results by 9999 %}
                {% for product in search.results %}
                  {% if product.object_type == 'product' %}
                    {% assign found_products = found_products | plus: 1 %}
                    {% assign product_tags = product.tags | join: ',' %}
                    {% assign product_price = product.price | money %}
                    <div
                      class="product product-{{ product.id }}"
                      data-tags="{{ product_tags }}"
                      data-price="{{ product_price }}"
                      key="{{ forloop.index }}"
                    >
                      {% render 'product-list-item', product: product, index: forloop.index %}
                    </div>
                  {% endif %}
                  {% if found_products == limit %}{% break %}{% endif %}
                {% endfor %}
                {% endpaginate %}
              </div>

              <div class="products" v-bind:class="[computedMobileGridSize, { 'filters-hidden': !showFilters || filterOptionsAvailable.length <= 0 }]" v-show="showVueProducts" v-cloak>
                <div
                  class="product"
                  v-bind:class="'product-' + product.id"
                  v-for="product in paginatedProducts"
                  v-bind:key="product.id"
                >
                  {% render 'product-list-item', is_vue: true %}
                </div>

                <div v-if="paginatedProducts.length === 0" v-cloak>
                  <div class="no-results">
                    <h2>No results</h2>
                  </div>
                </div>
              </div>

              <div class="pagination-wrapper" v-cloak>
                <div class="pagination" v-show="paginatedProductsPages > 1">
                  <div
                    class="pagination-button"
                    v-if="currentPage > 1"
                    v-on:click="currentPage -= 1"
                  >
                    {% render 'prev-button' %}
                  </div>
                  <div
                    class="pagination-button"
                    v-for="i in paginatedProductsPages"
                    v-on:click="currentPage = i"
                    v-bind:class="{ 'active': currentPage === i }"
                  >${ i }</div>
                  <div
                    class="pagination-button"
                    v-on:click="currentPage += 1"
                    v-if="currentPage === 1 || (currentPage > 0 && currentPage !== paginatedProductsPages)"
                  >
                    {% render 'next-button' %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="max-width" v-else>
          <h3 class="center-text">No product results for {{ search.terms | escape }}</h3>
          <br>
        </div>
      </div>
    </section>

    <section v-if="activeTab === 'articles'" class="max-width blog-section">
      <div class="blog blog-results max-width">
        <div class="posts row">
          {% assign blog_results_size = 0 %}
          {% paginate search.results by 9999 %}
          {% for article in search.results %}
            {% if article.object_type == 'article' and blog_results_size <= 50 %}
              {% assign blog_results_size = blog_results_size | plus: 1 %}
              <div class="blog-article column-12-tablet-vert-4 blog-article">
                <div class="article-image">
                  {% if article.image != blank %}
                    <a href="{{ article.url }}">
                      {%- assign img_url = article.image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                      <img
                        class="product-image lazyload"
                        {% if settings.enable_placeholder_image %}
                        src="{{ settings.placeholder_image | img_url }}"
                        {% else %}
                        src="{{ article.image.src | img_url: '360x' }}"
                        {% endif %}
                        alt="{{ article.title }}"
                        data-src="{{ img_url }}"
                        data-widths="[360, 540, 720, 900, 1080, 1600]"
                        data-aspectratio="{{ article.image.aspect_ratio }}"
                        data-sizes="auto"
                        width="{{ article.image.width }}"
                        height="{{ article.image.height }}"
                        loading="lazy"
                      />
                      <noscript>
                        <img class="lazyloaded" src="{{ article.image.src | img_url: '800x' }}" alt="{{ article.title | escape }}">
                      </noscript>
                    </a>
                  {% else %}
                    {% if article.content contains "<img" and ".jpg" %}
                      {% assign src = article.content | split: 'src="' | last %}
                      {% assign src = src | split: '.jpg' | first | append: '.jpg' %}
                      <img
                        width="100%"
                        class="lazyload"
                        {% if settings.enable_placeholder_image %}
                        data-src="{{ src }}"
                        src="{{ settings.placeholder_image | img_url }}"
                        {% else %}
                        src="{{ src }}"
                        {% endif %}
                      />
                    {% elsif article.content contains "<img" and ".png" %}
                      {% assign src = article.content | split: 'src="' | last %}
                      {% assign src = src | split: '.png' | first | append: '.png' %}
                      <img
                        width="100%"
                        class="lazyload"
                        {% if settings.enable_placeholder_image %}
                        data-src="{{ src }}"
                        src="{{ settings.placeholder_image | img_url }}"
                        {% else %}
                        src="{{ src }}"
                        {% endif %}
                      />
                    {% endif %}
                  {% endif %}
                </div>
                <!-- <p>
                  {% for tag in article.tags %}
                    <span class="tags">
                      {% if forloop.index > 1 %}<span>&nbsp;|&nbsp;</span>{% endif %}
                      <a href="{{ blog.url }}/tagged/{{ tag | handle }}">
                        {{ tag }}
                      </a>
                    </span>
                  {% endfor %}
                </p> -->
                <div class="product-info">
                  <h5 class="posted-by">
                    By {{ article.user.first_name }}
                  </h5>
                  <a href="{{ article.url }}" title="{{ article.title }}">
                    <h5>
                      {{ article.title }}
                    <h5>
                  </a>
                  <h5>
                    {% if article.excerpt != blank %}
                      {{ article.excerpt }}
                    {% else %}
                      {{ article.content | strip_html | truncatewords: 30 }} <a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}</a>
                    {% endif %}
                  </h5>
                  {% assign published_at = article.published_at | date: "%b %d, %Y" %}
                  <h5>{{ published_at }}</h5>
                </div>
              </div>
            {% endif %}
          {% endfor %}
          {% endpaginate %}
        </div>

        {% if blog_results_size > 0 %}
        {% else %}
        <h3 class="center-text">No blog results for {{ search.terms | escape }}</h3>
        {% endif %}
      </div>
    </section>
  </div>
{% else %}
  <div class="max-width">
    <div class="no-image-category-hero-wrapper">
      <div class="category-hero tablet-constrain-items">
        <div class="category-hero-inner category-hero-no-image search-no-results">
          <div class="inner-wrapper">
            <h1 class="hero">Search</h1>
            <form
              class="search-input-form"
              action="/search"
              method="get"
              role="search"
            >
              <input
                class="search-input"
                type="search"
                name="q"
                aria-label="Search for products, brands..."
                placeholder="Search for products, brands..."
                autocomplete="off"
                required
              >
              <button
                type="submit"
                class="link search-link"
                aria-label="Search"
              >Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="max-width">
    <div class="products-wrapper product-list-wrapper">
      <div class="products row">
        {% for prod in collections[settings.four_oh_four_collection].products limit: 40 %}
          <div class="product product-{{ prod.id }} column-6-tablet-vert-3">
            {% render 'product-list-item', product: prod, index: forloop.index %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
