<div class="max-width">
  <div class="no-image-category-hero-wrapper">
    <div class="category-hero tablet-constrain-items">
      <div class="category-hero-inner category-hero-image max-width custom-constrain-items">
        <div>
          <h1 class="hero black">{{ page.title }}</h1>
          <p>{{ page.content }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="bundle-wrapper" class="max-width bundle-wrapper">
  {% for block in section.blocks %}
    {% assign limit = block.settings.collection_limit %}
    {% assign collection = collections[block.settings.collection] %}

    <!-- <h2 class="collection-title center-text">{{ collection.title }}</h2> -->

    <div class="product-list-wrapper">
      <div class="product-list row">
        {% for product in collection.products limit: limit %}
          <div
            class="product product-{{ prod.id }} column-6-tablet-vert-3"
            key="{{ forloop.index }}"
          >
            {% render 'product-list-item', product: product, is_bundle: true %}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}

  <div v-cloak class="v-hide bundle-modal" v-bind:class="{ 'has-button': hasMetDiscount }">
    <h6 class="bundle-text" v-bind:class="{ 'no-button': !hasMetDiscount }">
      <span v-if="!hasMetDiscount" class="discount-text">Add <span class="bold">${ currentDiscount ? currentDiscount.limit : discounts[0].limit - productQtyInCart }</span> to save <span class="bold">${ discounts[0].percent }%</span></span>
      <span v-else class="discount-text">You saved <span class="bold">${ currentDiscount.percent }%</span></span>
      <a href="#" v-on:click="openCart($event)">View Cart</a>
    </h6>
    <form
      class="checkout-form"
      action="/cart"
      method="post"
      novalidate=""
      v-on:submit="goingToCheckout = true"
      v-if="hasMetDiscount"
    >
      <button
        class="secondary"
        type="submit"
        name="checkout"
        v-bind:class="{ 'loading': goingToCheckout }"
      >Checkout - ${ cartData.total_price | currency }</button>
    </form>
  </div>
</div>

<style>
  /* Hide widgets on page */
  .Rise__widget, #ps__widget_container { display: none !important; }
</style>

{% schema %}
  {
    "name": "Bundle Settings",
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "id": "collection",
            "type": "collection",
            "label": "Collection"
          },
          {
            "type": "range",
            "id": "collection_limit",
            "label": "Collection Limit",
            "min": 4,
            "max": 48,
            "step": 4,
            "default": 20
          }
        ]
      }
    ]
  }
{% endschema %}
