{% if section.settings.page_image_enable %}
  <section class="max-width split-page">
    <h1 class="hero-text mobile-page-header">{{ page_title }}</h1>
    <div class="page-image-content-wrapper row-align-middle">
      <div class="page-image column-12-tablet-vert-6">
        <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: section.settings.page_image_url.aspect_ratio }}%;">
          {%- assign img_url = section.settings.page_image_url.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <img
            class="lazyload blur-up full-width"
            src="{{ settings.placeholder_image | img_url }}"
            alt="{{ section.settings.page_image_url.alt | escape }}"
            data-src="{{ img_url }}"
            data-widths="[360, 540, 720, 900, 1080, 1600]"
            data-sizes="auto"
            data-aspectratio="{{ section.settings.page_image_url.aspect_ratio }}"
            width="{{ section.settings.page_image_url.width }}"
            height="{{ section.settings.page_image_url.height }}"
            loading="lazy"
          />
          <noscript>
            <img class="lazyloaded" src="{{ section.settings.page_image_url.src | img_url: '800x' }}" alt="{{section.settings.page_image_url.alt }}">
          </noscript>
        </div>
      </div>
      <div class="page-content column-12-tablet-vert-6">
        <h1 class="hero-text tablet-vert-page-header">{{ page_title }}</h1>
        {{ page.content }}
      </div>
    </div>
  </section>
{% else %}
  {% include 'hero' %}
  <section class="custom-constrain-items">
    {{ page.content }}
  </section>
{% endif %}

{% schema %}
  {
    "name": "About Page Settings",
    "settings": [
      {
        "type": "checkbox",
        "id": "page_image_enable",
        "label": "Enable Image?"
      },
      {
        "type": "image_picker",
        "id": "page_image_url",
        "label": "Image URL"
      }
    ]
  }
{% endschema %}
