{% layout none %}

<!doctype html>

<html lang="en-US">
  <head>
    <title>
      Opening Soon {% unless page_title contains shop.name %} | {{ shop.name }}{% endunless %}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}" />
    {% endif %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=yes">

    <!-- Favicons -->
    <meta name="application-name" content="{{ shop.name }}">
    {% if settings.favicon != blank %}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {% endif %}

    <!-- Header hook for plugins -->
    {{ content_for_header }}

    <!-- Global Styles -->
    <style>{% render 'styles.css' %}</style>
    {{ 'nav.css' | asset_url | stylesheet_tag }}
    {{ 'header.css' | asset_url | stylesheet_tag }}
    {{ 'grid.css' | asset_url | stylesheet_tag }}
    {{ 'elements.css' | asset_url | stylesheet_tag }}
    {{ 'helpers.css' | asset_url | stylesheet_tag }}
    {{ 'global.css' | asset_url | stylesheet_tag }}
    {{ 'footer.css' | asset_url | stylesheet_tag }}
    {{ 'application.css' | asset_url | stylesheet_tag }}
    {{ 'cms.css' | asset_url | stylesheet_tag }}

    <!-- Global Scripts -->
    <script src="{{ 'application.js' | asset_url }}" defer></script>
    <script src="{{ 'assets.js' | asset_url }}" defer></script>
    <script src="{{ 'vendor.js' | asset_url }}" defer></script>
  </head>

  <body>
    <main role="main">
      <div
        id="password"
        class="page password lazyload"
        style="background-image: url('{{ settings.password_image | img_url: 'medium' }}');"
        data-bg="{{ settings.password_image | img_url: 'master' }}"
      >
        <div class="overlay"></div>
        <a href="#enter-password" class="white toggle-show-password" v-if="!showPassword" v-on:click="toggleShowPassword()">
          <div class="lock"></div>Enter using password
        </a>
        <div class="password-inner max-width">
          <div v-if="!showPassword">
            <h1>Opening Soon</h1>
            {% form 'customer', id: 'ContactPassword', class: 'vue-form' %}
              {%- assign formId = 'PasswordNewsletterForm' -%}
              <input type="hidden" name="contact[tags]" value="prospect, password page">

              {%- if form.posted_successfully? -%}
                <p tabindex="-1">
                  Success! {{ 'general.password_page.signup_form_success' | t }}
                </p>
              {%- else -%}
                <p>Sign up to be the first to know when we launch.</p>
                <div class="password-form{% if form.errors %} input-group--error{% endif %}">
                  <input
                    type="email"
                    name="contact[email]"
                    id="{{ formId }}-email"
                    class="{% if form.errors contains 'email' %} invalid{% endif %}"
                    placeholder="Email"
                  >
                  <button type="submit" name="commit" class="btn">
                    Subscribe
                  </button>
                  {%- if form.errors -%}
                    <div class="field-message">{{ form.errors.messages['form'] }}</div>
                  {%- endif -%}
                </div>
              {%- endif -%}
            {% endform %}
          </div>

          <div v-else>
            {% form 'storefront_password' %}
              <h1>Enter Password</h1>
              <p>If you have access to this store, enter the password below.</p>
              <div class="password-form">
                <input type="password" name="password" id="password" placeholder="Password" autofocus="" />
                <input class="btn" name="commit" type="submit" value="Enter Store" />
              </div>
            {% endform %}
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
