<script>
window.productData = {{ product | json }};
window.productPrice = '{{ product.price }}';
window.productOriginalPrice = '{{ product.compare_at_price_max }}';
window.productVendor = '{{ product.vendor | escape_once }}';
</script>

<!-- FeedArmy Google Microdata -->
{% include 'product-microdata' %}

<div class="product">
  {% comment %}
    {% assign current_variant = product.selected_or_first_available_variant %}
    {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
  {% endcomment %}
  {% assign featured_image = product.featured_image %}

  <h6 class="breadcrumbs-wrapper max-width">
    {% include 'breadcrumbs' %}
  </h6>

  <div class="top-product-info top-area">
    <div class="top-product-info-inner max-width {% if product.variants.size > 1 %}has-variants{% endif %}">
      <div class="rhpa-wrapper hide-tablet">
        <div class="options-and-price">
          <portal-target id="title-and-price-portal"></portal-target>
        </div>
      </div>

      {% section 'product-images' %}

      <div class="rhpa-wrapper">
        <!-- {% if current_variant.sku.size > 0 %}<p class="sku">{{ current_variant.sku }}</p>{% endif %} -->
        <div id="rhpa" class="options-and-price">
          <mounting-portal mount-to="#title-and-price-portal">
            <div class="title-and-price mobile-title-and-price v-hide" v-cloak>
              <div class="mobile-top-tap">
                <div class="title-wrapper">
                  <h1 class="product-title">{{ product.title }}</h1>
                  {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', concierge_install: false, product: product %}
                </div>
              </div>
              <div class="mobile-bottom-tap">
                <a class="product-vendor" href="/collections/vendors?q={{ product.vendor | url_encode }}"><h6>{{ product.vendor }}</h6></a>
                <div v-if="!productPrice" class="price-wrapper">
                  <h5>{{ product.price | money_without_trailing_zeros }}</h5>
                </div>
                <div class="price-wrapper v-hide" v-cloak v-else>
                  <h5 style="display: none" id="product-price" class="price">${ productPrice }</h5>
                  <h5 id="product-visible-price">
                    <span :class="{ 'sale-price': hasDiscount }">${ productPrice.replace('.00', '') }</span>
                    <span v-if="hasDiscount" class="original-price">${ computedProductOriginalPriceFormatted.replace('.00', '') }</span>
                  </h5>
                  <h5 class="at-price" v-if="formQuantity > 1">(${ formQuantity } @ ${ formatMoney(productOriginalPrice).replace('.00', '') })</h5>
                </div>
              </div>
            </div>
          </mounting-portal>

          <div class="title-and-price show-tablet">
            <div class="title-wrapper">
              <h1 class="product-title">{{ product.title }}</h1>
              {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', concierge_install: false, product: product %}
              <a class="product-vendor" href="/collections/vendors?q={{ product.vendor | url_encode }}"><h6>{{ product.vendor }}</h6></a>
            </div>
            <div v-if="!productPrice" class="price-wrapper">
              <h5>{{ product.price | money_without_trailing_zeros }}</h5>
            </div>
            <div class="price-wrapper v-hide" v-cloak v-else>
              <h5 style="display: none" id="product-price" class="price">${ productPrice }</h5>
              <h5 id="product-visible-price">
                <span v-if="hasDiscount" class="original-price">${ computedProductOriginalPriceFormatted.replace('.00', '') }</span>
                <span :class="{ 'sale-price': hasDiscount }">${ productPrice.replace('.00', '') }</span>
              </h5>
              <h5 class="at-price" v-if="formQuantity > 1">(${ formQuantity } @ ${ formatMoney(productOriginalPrice).replace('.00', '') })</h5>
            </div>
          </div>

          <!-- "data-productid" property is for Recharge -->
          <form
            class="vue-form v-hide"
            action="/cart/add"
            v-on:submit="addToCart($event)"
            data-productid="{{ product.id }}"
            v-cloak
          >
            <div class="options-wrapper">
              <!-- Product RHPA -->
              {% section 'product-rhpa' %}

              <!-- Recharge Hidden Inputs -->
              {% if product.available %}
                <input v-if="selectedOptionVariant && selectedOptionVariant.available" type="hidden" class="rc-widget-variant" name="id" data-productid="{{ product.id }}" v-bind:value="selectedOptionVariant ? selectedOptionVariant.id : ''" />
              	<input v-else-if="InvalidVariantSelections" type="hidden" class="rc-widget-variant" name="id" data-productid="{{ product.id }}" value="{{product.selected_or_first_available_variant.id}}" />
              {% endif %}
            </div>
          </form>
        </div>

        {% section 'product-description' %}
      </div>
    </div>
  </div>

  <div class="product-reviews max-width constrain-items">
    {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: product %}
  </div>

  {% section 'product-recommendations' %}
</div>

{% comment %}
  <form action="/cart/add" data-productid="{{ product.id }}" method="post" enctype="multipart/form-data" id="AddToCartForm">
    <select name="id" data-productid="{{ product.id }}" id="productSelect">
      {% for variant in product.variants %}
        {% if variant.available %}
          <option value="{{ variant.id }}">
            {{ variant.title }} - {{ variant.price | money }}
          </option>
        {% else %}
          <option disabled="disabled">
            {{ variant.title }} - sold out
          </option>
        {% endif %}
      {% endfor %}
    </select>
    {{ current_variant.price | money }}
    <label for="Quantity">quantity</label>
    <input type="number" id="Quantity" name="quantity" value="1" min="1">
    <button type="submit" name="add" id="AddToCart">Add to cart</button>
  </form>
{% endcomment %}

<!-- Klaviyo -->
<script text="text/javascript">
  var _learnq = _learnq || [];
  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };
  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>
