<!-- {% paginate search.results by 10 %}
  <form action="/search" method="get" role="search">
    <input type="search" name="q" value="{{ search.terms | escape }}">
    <button type="submit">search</button>
  </form>

  {% if search.performed %}
    {% for item in search.results %}
      {% if item.featured_image %}
        <a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
          {{ item.featured_image.src | img_url: 'medium' | img_tag: item.featured_image.alt }}
        </a>
      {% endif %}
      <h5>{{ item.title | link_to: item.url }}</h5>
      <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
    {% else %}
      no results
    {% endfor %}
  {% endif %}

  {% if paginate.pages > 1 %}{{ paginate | default_pagination }}{% endif %}
{% endpaginate %} -->

<script>
  window.tags = "{{ collection.all_tags | join: ',' }}";
  window.prices = [];

  {% paginate search.results by 9999 %}
    {% for product in search.results %};
      window.tags += "{{ product.tags | join: ',' }},";
      window.prices.push({{ product.price | money | remove: '$' }});
    {% endfor %}
  {% endpaginate %}
</script>

<div id="search" class="category">
  <section>
    <div class="category-hero max-width">
      <div class="category-hero-inner">
        <h1 class="hero"><span>{{ search.terms | escape }}</span></h1>
      </div>
    </div>

    <div class="filters-products-wrapper row max-width">
      <div id="filters" class="filters column-3" v-cloak>
        <div class="filter" v-for="filter in filterOptions" v-if="filter.options.length > 0">
          <h3>${ filter.name }</h3>
          <ul>
            <li v-for="option in filter.options">
              <div class="checkbox">
                <input v-bind:id="option.name + '-' + filter.name" type="checkbox" v-model="checkedOptions[filter.name]" v-bind:value="option">
                <label v-bind:for="option.name + '-' + filter.name">${ option.name }</label>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="products column-9">
        {% paginate search.results by 9999 %}
          {% for product in search.results %}
            {% assign product_tags = product.tags | join: ',' %}
            {% assign product_price = product.price | money %}
            <div
              class="product"
              data-tags="{{ product_tags }}"
              data-price="{{ product_price }}"
              v-if="productInCheckedFilterOptions('{{ product_tags }}', '{{ product_price }}')"
              v-bind:key="{{ product.sku }}"
            >
              <a class="product-image-wrapper" href="{{ product.url | within: collection }}">
                <img
                  class="product-image lazyload blur-up"
                  src="{{ settings.placeholder_image | img_url }}"
                  data-src="{{ product.featured_image.src | img_url: 'large' }}"
                  data-additional-image="{{ settings.placeholder_image | img_url }}"
                  data-additional-image-large="{{ product.images[1] | img_url: 'large' }}"
                  alt="{{ product.featured_image.alt | escape }}"
                  v-on:mouseover="changeImage('in', $event)"
                  v-on:mouseleave="changeImage('out', $event)"
                />
              </a>
              <div class="product-info">
                <a href="{{ product.url | within: collection }}">
                  <h3>{{ product.title }}</h3>
                </a>
                <div class="price">{{ product.price | money_without_trailing_zeros }}</div>
              </div>
            </div>
          {% endfor %}
        {% endpaginate %}
        <div v-if="productsVisible === 0">
          {% if search.results.size == 0 %}
            <div class="product no-results">
              <br>
              <h2>No Search Results</h2>
              <p class="try-new">Try a new search!</p>
              <div class="search-input-wrapper">
                <form class="search-input-form" action="/search" method="get" role="search">
                  <input type="search" name="q" placeholder="Search..." value="{{ search.terms | escape }}">
                  <br>
                  <button type="submit">search</button>
                </form>
              </div>
            </div>
          {% else %}
            <div class="product" v-cloak>
              <h2>No results</h2>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
</div>
